.Sidebar {
  white-space: nowrap;
  background-color: #37474f;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 300px) {
  .Sidebar ul {
    position: sticky;
    top: 0;
  }
}

.Sidebar ul li a {
  display: block;
  padding: 0.5rem 0;
  color: red;
  text-decoration: none;
}

li > .active {
  color: green;
  border-left: 2px solid white;
  background-color: black;
}

#home,
#about,
#resume,
#recipes,
#contact {
  margin-bottom: 40rem;
}
