.Sidebar {
  white-space: nowrap;
  background-color: #37474f;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-height: 300px) {
  .Sidebar ul {
    position: sticky;
    top: 0;
  }
}

.Sidebar ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: red;
  text-decoration: none;
}

.active {
  background: black;
  color: green;
}

#home,
#about,
#resume,
#recipes,
#contact {
  margin-bottom: 40rem;
}
